* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  outline: 0;
}

body {
  background-color: #a3a9b3;
  color: #354259;
  font-family: "Lato", Helvetica, sans-serif;
  margin: 0 auto;
  width: 940px;
}

.side-menu {
  background-color: #6c7586;
  border: 2px solid #0e2035;
  border-radius: 25px;
  position: fixed;
  left: 0px;
  top: 50px;
  padding: 30px;
  width: 150px;
}

.side-menu li {
  margin: 20px auto;
  list-style: none;
}

h1, h2, p {
  margin: 50px auto;
  width: 620px;
}

.flexbox {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 620px;
}

.container > div {
  margin: 50px 30px;
}

.container > div > ul {
  position: relative;
  left: 20px;
}
